<div class="container">
  <ui-home 
  image="/images/p1.png" 
  title="Chuerk Espinoza" 
  info="Dueño de un rancho" 
  text_btn="Conocer más"
  [clickEvent]="conocerMas"
  />
  <ui-home
  image="/images/p2.jpg"
  title="Juan Papayas"
  info="Pro Player since 2025"
  text_btn="Conocer más"
  [clickEvent]="conocerMas"
  />    
  
  <ui-home
  image="/images/p3.jpg"
  title="Alan Cervantes"
  info="Estudiante de ICCO en CuTonalá"
  text_btn="Ver más"
  [clickEvent]="verMas"
  />
  <ui-home
  image="/images/p4.jpg"
  title="Jorge Rodríguez"
  info="Estudiante de ICCO en CuTonala"
  text_btn="Ver más"
  [clickEvent]="verMas"
  />

</div>


<router-outlet />


